/* #ch1 {
  color: blue;
  /* background-color: blueviolet; 
}*/

/* .divContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f7f7a6;
  align-items: center;
}

.searchbar {
  height: 2rem;
  width: 25rem;
}

.header {
  display: flex; */
/* border: black 2px solid; */
/*  justify-content: space-between;
  margin: 10px 85px;
  box-shadow: 0 15px 40px -20px rgba(40, 44, 63, 0.15);
  right: 0;
  left: 0;
  height: 80px;
  background: #fff;
  z-index: 1000;
  will-change: transform;
  transform: translateZ(0);
  transition: transform 0.3s ease;
  contain: size layout style;
  padding: 0 20px;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
}

.nav-items > ul > li {
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
} */

/* .card {
  width: 295px;
  height: 340px;
  /* border: 2px solid blue; */
/* text-align: center; 
  margin: 10px;
  border: 1px solid transparent;
  padding: 10px; */
/* box-shadow: 15px 15px 10px -15px #111; */
/*  text-decoration: none;
}

.card:hover {
  border: 1px solid black;
}

.card > img {
  width: 100%;
}
.card > h4 { */
/* color: gray;
  margin-top: 0px; */
/*  color: #686b78;
  font-size: 14px;
  margin-top: 4px;
  margin-bottom: 0px;
}
.card > h3 {
  color: black; */
/*margin-bottom: 0px;
  margin-top: 0px; */
/*  font-size: 17px;
  font-weight: 600;
  word-break: break-word;
  margin-top: 14px;
  margin-bottom: 0px;
} */
/*
.card > h5 {
  color: black;
  margin-bottom: 0px;
  margin-top: 0px;
}

.search-container {
  margin: 30px 85px 0px 85px;
}

.restaurant-list {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 65px;
}

.shimmer-card {
  width: 295px;
  height: 340px;
  background: lightgray;
  margin: 20px;
  box-shadow: 15px 15px 10px -15px #111;
}

.rating-min-cost {
  display: flex;
  align-items: center;
  margin-top: 18px;
  font-size: 12px;
  justify-content: space-between;
  color: #535665;
}

.menu-banner {
  display: flex;
  height: 200px;
  position: sticky;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;
